{% load svg i18n color %}

<div class="left-segment {% if is_last %}left-segment--last{% endif %} contact">
    {% include "portfolio/includes/segment_title.html" %}
    {% if contact.phone %}
        <a class="link" href="tel:{{ contact.phone }}">
            {% svg "portfolio/svg/phone.svg" text_color %}
            <div class="link-label" style="color: {{ text_color }}">{{ contact.phone }}</div>
        </a>
    {% endif %}
    {% if contact.email %}
        <a class="link" href="mailto:{{ contact.email }}">
            {% svg "portfolio/svg/email.svg" text_color %}
            <div class="link-label" style="color: {{ text_color }}">{{ contact.email }}</div>
        </a>
    {% endif %}
</div>
