{% load svg i18n %}

<div class="left-segment contact">
    <h2 class="title">{{ title }}</h2>
    {% if contact.phone %}
        <a class="contact-item" href="tel:{{ contact.phone }}">
            {% svg "portfolio/svg/phone.svg" %}
            <div class="contact-item-value">{{ contact.phone }}</div>
        </a>
    {% endif %}
    {% if contact.email %}
        <a class="contact-item" href="mailto:{{ contact.email }}">
            {% svg "portfolio/svg/email.svg" %}
            <div class="contact-item-value">{{ contact.email }}</div>
        </a>
    {% endif %}
</div>
