{% load svg i18n %}

<div class="right-segment {% if is_last %}right-segment--last{% endif %}" style="color: {{ text_color }}">
    {% include "portfolio/includes/segment_title.html" %}
    {% for employment in employments %}
        <div class="position-item">
            <h3 class="position-item-title">{{ employment.title }}, {{ employment.company }}</h3>
            <div class="position-item-subtitle">
                <p class="position-item-period">
                    {{ employment.start|date:"M Y" }} - {{ employment.end|date:"M Y"|default:_("Present") }}
                </p>
                <div class="position-item-location">
                    {% svg "portfolio/svg/location-dark.svg" text_color %}
                    <p class="position-item-location-value" style="color: {{ text_color }}">
                        {{ employment.location }}
                    </p>
                </div>
            </div>
            <p class="position-item-description" style="color: {{ text_color }}">
                {{ employment.description }}
            </p>
        </div>
    {% endfor %}
</div>
