{% load svg i18n %}

<div class="left-segment {% if is_last %}left-segment--last{% endif %} contact">
    {% include "portfolio/includes/segment_title.html" %}
    {% if personal_details.address %}
        {% if personal_details.address.link %}
            <a class="link" href="{{ personal_details.address.link }}">
                {% svg "portfolio/svg/location.svg" text_color %}
                <div class="link-label" style="color: {{ text_color }}">{{ personal_details.address.label }}</div>
            </a>
        {% else %}
            <div class="link">
                {% svg "portfolio/svg/location.svg" text_color %}
                <div class="link-label" style="color: {{ text_color }}">{{ personal_details.address.label }}</div>
            </div>
        {% endif %}
    {% endif %}
    {% if personal_details.birthday %}
        <div class="link">
            {% svg "portfolio/svg/birthday.svg" text_color %}
            <div class="link-label" style="color: {{ text_color }}">{{ personal_details.birthday|date:"d.m.Y." }}</div>
        </div>
    {% endif %}
</div>
