{% load i18n %}

<div class="right-segment" style="color: {{ text_color }}">
    {% include "portfolio/includes/segment_title.html" %}
    {% for project in projects %}
        <div class="position-item">
            <h3 class="position-item-title">{{ project.name }} | {{ project.role }}</h3>
            <p class="position-item-period">
                {{ project.start|date:"M Y" }} - {{ project.end|date:"M Y"|default:_("Present") }}
            </p>
            <p><span class="bold">{{ project.tools_title }}</span>: {{ project.tools }}</p>
            <p class="position-item-description" style="color: {{ text_color }}">
                <span class="bold">{% trans "Description" %}</span>: {{ project.description }}
            </p>
        </div>
    {% endfor %}
</div>
