.education.education {
    /*
    Avoid breaking the entire education section to the next
    page so that the child elements can be broken to the next
    page if they don't fit on the current page.
     */
    page-break-inside: unset;
}

.education-item {
    padding: 20px 0;
    color: white;

    /*
    Combining `page-break-inside: avoid;` with border forces
    the element to break to the next page if it doesn't fit
    on the current page.
     */
    page-break-inside: avoid;
    border: 1px solid transparent;
}

.education-item-title {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 10px 0;
}

.education-item-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    @media only screen and (max-width: 1200px) {
        width: fit-content;
    }
}

.education-item-period {
    margin: 0 20px 0 0;
}

.education-item-location {
    display: flex;
    align-items: center;
}

.education-item-location svg {
    width: 20px;
    height: 20px;
}

.education-item-location-value {
    margin: 0 0 0 6px;
}

.education-item-description {
    line-height: 1.5;
    margin: 10px 0 0 0;
}
