/* Expected to be <a> tag */
.expendable-button {
    position: fixed;
    right: 0;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
    width: 30px; /* Initial width with only the SVG visible */
    height: 40px;
}

.expendable-button--pdf {
    bottom: 10px;
    background-color: #9c0d0d;
    color: white;

    @media only screen and (max-width: 1200px) {
        top: 40px;
        bottom: unset;
    }
}

.expendable-button--edit {
    bottom: 75px;
    background-color: #0d209c;
    color: white;

    @media only screen and (max-width: 1200px) {
        top: 105px;
        bottom: unset;
    }
}

.expendable-button svg {
    height: 25px;
    width: 25px;
    min-width: 25px;
}

/*!* Text is initially hidden *!*/
.expendable-button .text {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

/*!* Expand button on hover *!*/
.expendable-button--pdf.expanded {
    width: 130px;
}

.expendable-button--edit.expanded {
    width: 80px;
}

/*!* Show the text on hover *!*/
.expendable-button.expanded .text {
    width: auto;
}
