body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    background: #171717;
    color: white;
    min-height: calc(100vh - 75px - 250px - 105px); /* 75px for the nav, 250px for the upper footer, 105 for bottom footer */
    padding: 0 20%;

    @media only screen and (max-width: 1200px) {
        padding: 0 10%;
    }

    @media only screen and (max-width: 768px) {
        padding: 0;
    }
}

h1 {
    text-align: center;
    margin: 100px auto 60px auto;

    @media only screen and (max-width: 768px) {
        margin: 60px auto 40px auto;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%); /* Start off-screen (above the viewport) */
        opacity: 0; /* Invisible at the start */
    }
    100% {
        transform: translateY(0); /* End at the original position */
        opacity: 1; /* Fully visible */
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

main .content {
    padding-bottom: 60px;
}

.paragraph {
    text-align: justify;
    margin: 20px auto;
    line-height: 1.6;
    font-size: 20px;

    @media only screen and (max-width: 768px) {
        width: 85%;
    }
}

.paragraph--centered {
    text-align: center;
}

.paragraph a {
    color: white;
    font-weight: 900;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.go-to-button {
    cursor: pointer;
    margin: 40px auto;
    padding: 20px 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #252525;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out, outline-width 0.2s ease-in-out;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.go-to-button:hover {
    background: linear-gradient(to right, #ff4d4d, #7b86fe);
    box-shadow: rgba(240, 46, 46, 0.4) 5px 5px,
    rgba(240, 46, 46, 0.3) 10px 10px,
    rgba(240, 46, 46, 0.2) 15px 15px,
    rgba(240, 46, 46, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
    outline: 2px solid black;
    color: white;
}

.button-row {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.button-row .go-to-button {
    margin: 20px;

    @media only screen and (max-width: 768px) {
        width: 88%;
        margin: 0 auto;
    }
}

.buttons-separator {
    margin: 20px;
}
