.input-field {
    margin: 20px 0;
}

.input-field label {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.input-field--checkbox label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.input-field .label-text {
    padding: 4px 0;
    font-size: 20px;
    color: #606060;
}

.input-field input {
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
    border: 2px solid #606060;
    border-radius: 5px;
}

.input-field input[type="checkbox"] {
    height: 30px;
    width: 30px;
    margin: 0 20px 0 0;
}

.input-field .help-text {
    color: #606060;
    font-size: 16px;
}

.input-field .help-text ul {
    margin: 0;
    padding: 0 18px;
}

.input-field .error {
    color: red;
    margin-top: 2px;
}

.input-field--with-errors input {
    border-color: red;
    background-color: #ffe8e8;
}

.form-errors {
    width: 80%;
}

.form-errors .error {
    margin: 2px 0;
    color: red;
}
