nav {
    position: sticky;
    top: 0;
    background-color: white;
    color: black;
    height: 75px;
    text-align: center;
    padding: 0 20%;
    width: 60%;
    display: flex;
    justify-content: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);


    @media only screen and (max-width: 1200px) {
        width: 80%;
        padding: 0 10%;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1000px;
}

.menu__left,
.menu__right {
    display: flex;
    height: 100%;
}

.menu__right {
    position: relative;
}

.menu__home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    color: black;
    border: 5px solid white;
}

.menu__home-button svg {
    height: 60%;
}

.menu__home-button:hover {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: #ececec;
}

.menu__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    padding: 0 30px;
    margin: 0;
    z-index: 11; /* Above the dropdown! */
}

.menu__burger span {
    display: block;
    margin: 3px 0;
    width: 35px;
    height: 4px;
    background-color: #000;
    border-radius: 2px;
    transition: all 0.3s;
}

.menu__main {
    position: fixed;
    top: 0;
    right: -100%; /* Start fully off-screen */
    left: 0;
    bottom: 0;
    width: 100%; /* Adjust width as needed */
    background: rgba(255, 255, 255, 0.2); /* White background with 20% transparency */
    backdrop-filter: blur(6px); /* Blur effect */
    -webkit-backdrop-filter: blur(6px); /* Safari support */
    transform: translateX(100%); /* Move off-screen to the right */
    opacity: 0; /* Hidden initially */
    z-index: 1000; /* Ensure it appears above other elements */
}

/* Opened main menu */
.menu__main--opened {
    transform: translateX(0); /* Slide into view */
    opacity: 1; /* Fully visible */
}

.menu__main-modal {
    position: fixed;
    display: flex;
    width: 33%;
    right: 0;
    left: 67%;
    top: 0;
    bottom: 0;
    margin-right: auto;
    transition: transform 0.4s ease, opacity 0.4s ease; /* Smooth animation */
    transform: translateX(100%); /* Move off-screen to the right */
    opacity: 0; /* Hidden initially */
    background-color: white;
    flex-direction: column;

    @media only screen and (max-width: 1200px) {
        width: 50%;
        left: 50%;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
        left: 0;
    }
}

.menu__main--opened .menu__main-modal {
    transform: translateX(0); /* Slide into view */
    opacity: 1; /* Fully visible */

    @media only screen and (max-width: 1200px) {
        width: 50%;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.menu__main--opened .menu__burger {
    display: none;
}

.menu__main-header {
    margin: 0;
    padding-left: 20px;
    height: 80px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__item-title-icon {
    height: 100%;
    width: 25px;
    padding: 0 32px;
    margin-left: 15px;
    cursor: pointer;
}

.menu__item-title-icon svg {
    height: 100%;
    width: 100%;
}

.menu__item-title-icon:hover {
    background-color: #ff5e5e;
}

.menu__item,
.menu__language-dropdown-item {
    height: 60px;
    line-height: 60px;
    width: calc(100% - 30px * 2);
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    padding: 0 30px;
    text-align: right;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
}

.menu__logout-form {
    font-size: 16px;
    padding: 0;
}

.menu__logout-form button[type="submit"] {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: white;
    border: none;
    font-size: 16px;
    text-align: right;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
    border-bottom: 1px solid lightgrey;
}

.menu__item:hover {
    background-color: #ececec;
}

.menu__logout-form:hover button[type="submit"] {
    background-color: #ececec;
}

.menu__item-icon {
    height: 100%;
    width: 25px;
    margin-left: 15px;
}

.menu__item-icon svg {
    height: 100%;
    width: 100%;
}

.menu__language {
    position: relative;
}

.menu__language-current {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: calc(100% - 30px * 2);
}

.menu__language-current-dropdown-icon {
    display: inline-block;
    transition: transform 0.3s ease; /* Smooth rotation effect */
    height: 100%;
    width: 35px;
}

.menu__language-current-dropdown-icon svg {
    height: 100%;
    width: 100%;
}

.menu__language:hover .menu__language-current-dropdown-icon {
    transform: rotate(180deg);
}

.menu__language-current-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__language-current-label svg {
    height: 100%;
    width: 25px;
    margin-left: 15px;
}

.menu__language-dropdown {
    display: block; /* Ensure it's part of the document flow for animations */
    height: 0; /* Hidden initially */
    transform: scaleY(0); /* Hidden initially */
    transform-origin: top; /* Expand from the top */
    transition: transform 0.4s ease; /* Smooth animation */
    overflow: hidden; /* Hide content */
    pointer-events: none; /* Disable interaction */
    position: absolute;
    top: 100%; /* Position below the current language */
    left: 0;
    width: 100%;
}

/* Show Dropdown on Hover */
.menu__language:hover .menu__language-dropdown {
    pointer-events: auto; /* Allow interaction */
    transform: scaleY(1); /* Expand fully */
    height: auto; /* Ensure the content is fully visible */
}

.menu__language-dropdown-item {
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    width: 100%;
    padding-right: 65px;
}

.menu__language-dropdown-item:hover {
    background-color: #ececec;
}

.menu__language-dropdown-item-bullet {
    width: 35px;
    text-align: right;
    font-weight: 900;
}
