{% load svg i18n %}

<!-- Language Dropdown -->
<div class="menu__language">

    <!-- Current Language -->
    <div class="menu__item menu__language-current">
        <div class="menu__language-current-dropdown-icon">
            {% svg "svg/dropdown.svg" %}
        </div>
        <div class="menu__language-current-label">
            <span>{% trans "LANGUAGE" %}</span>
            {% svg "svg/globe.svg" %}
        </div>
    </div>

    <!-- Dropdown Languages -->
    <div class="menu__language-dropdown">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang_code, lang_name in LANGUAGES %}
            <form method="POST" action="{% url 'set_language' %}">
                {% csrf_token %}
                <input type="hidden" name="language" value="{{ lang_code }}">
                <button class="menu__language-dropdown-item" type="submit">
                    {{ lang_name|upper }}
                    {% if lang_code == "sr" %}
                        <div class="menu__item-icon">{% svg "svg/serbia-flag.svg" %}</div>
                    {% elif lang_code == "en" %}
                        <div class="menu__item-icon">{% svg "svg/usa-flag.svg" %}</div>
                    {% endif %}
                    <span class="menu__language-dropdown-item-bullet">
                    {% if lang_code == LANGUAGE_CODE %}<{% endif %}
                    </span>
                </button>
            </form>
        {% endfor %}
    </div>
</div>
