{% load svg i18n %}

{% block nav %}
    <nav>
        <div class="menu">
            <div class="menu__left">
                <a href="{% url 'index' %}" class="menu__home-button">
                    {% svg "svg/rocket.svg" %}
                </a>
            </div>
            <div class="menu__right">
                <!-- Burger Button -->
                <div class="menu__burger js-main-menu-burger" id="menuBurger" aria-label="Toggle Menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="menu__main js-main-menu">
                    <!-- Menu Modal-->
                    <div class="menu__main-modal js-main-menu-modal">
                        <h3 class="menu__main-title">
                            <span>{% trans "main menu" %}</span>
                            <span class="menu__item-title-icon js-close-main-menu-button">
                                {% svg "svg/x.svg" %}
                            </span>
                        </h3>
                        <a href="{% url 'index' %}" class="menu__item">
                            <span>{% trans "HOME" %}</span>
                            <div class="menu__item-icon">{% svg "svg/home.svg" %}</div>
                        </a>
                        {% if request.user.is_anonymous %}
                            <a href="{{ user_menu.login.url }}" class="menu__item">
                                <span>{{ user_menu.login.label }}</span>
                                <div class="menu__item-icon">{% svg "svg/login.svg" %}</div>
                            </a>
                            <a href="{{ user_menu.register.url }}" class="menu__item">
                                <span>{{ user_menu.register.label }}</span>
                                <div class="menu__item-icon">{% svg "svg/avatar.svg" %}</div>
                            </a>
                        {% else %}
                            {% if portfolio_menu.view %}
                                <a href="{{ portfolio_menu.view.url }}" class="menu__item">
                                    <span>{{ portfolio_menu.view.label }}</span>
                                    <div class="menu__item-icon">{% svg "svg/document.svg" %}</div>
                                </a>
                                <a href="{{ portfolio_menu.edit.url }}" class="menu__item">
                                    <span>{{ portfolio_menu.edit.label }}</span>
                                    <div class="menu__item-icon">{% svg "svg/edit.svg" %}</div>
                                </a>
                            {% else %}
                                <a href="{{ portfolio_menu.create.url }}" class="menu__item">
                                    <span>{{ portfolio_menu.create.label }}</span>
                                    {# TODO: ADD SVG #}
                                </a>
                            {% endif %}
                            <a href="{{ user_menu.edit.url }}" class="menu__item">
                                <span>{{ user_menu.edit.label }}</span>
                                <div class="menu__item-icon">{% svg "svg/avatar.svg" %}</div>
                            </a>
                            <form class="menu__item" method="POST" action="{{ user_menu.logout.url }}">
                                {% csrf_token %}
                                <button type="submit">{{ user_menu.logout.label }}</button>
                                <div class="menu__item-icon">{% svg "svg/logout.svg" %}</div>
                            </form>
                        {% endif %}
                        {% include "includes/language_dropdown.html" %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock nav %}
