{% extends "pdf_view/pdf.html" %}

{% load static %}

{% block metatags %}
    {{ block.super }}
    <meta name="description" content="{{ portfolio.about_me }}">
{% endblock metatags %}

{% block style %}
    {% include "includes/icons.html" %}
    {{ block.super }}
    <style>
        .left-column,
        .left-column .link svg {
            background-color: {{ portfolio.left_column_bg_color }};
        }

        .right-column {
            background-color: {{ portfolio.right_column_bg_color }};
        }
    </style>
{% endblock style %}

{% block content %}
    {{ block.super }}
    {% include "includes/messages.html" %}
    {% if response_type == "html" %}
        <script src="{% static 'portfolio/js/expandable-button.js' %}"></script>
        <script src="{% static 'js/flash-messages.js' %}"></script>
    {% endif %}
{% endblock content %}
