{% load svg static i18n color %}

<div class="page {% if response_type == "html" %}page--html{% endif %}"
     {% if response_type == "pdf" %}style="height: calc(100% * {{ portfolio.page_count }})"{% endif %}>
    <section class="left-column">
        <div class="avatar">
            {% if avatar_url %}
                <img src="{{ avatar_url }}" alt="avatar"/>
            {% else %}
                {% svg "portfolio/svg/avatar.svg" %}
            {% endif %}
        </div>
        {% for segment in left_column %}
            {{ segment }}
        {% endfor %}
        {% if response_type == "html" %}
            <div class="powered-by-section">
                <a href="https://portfolizer.rokimania.com" style="color: {{ portfolio.left_column_text_color|color:1.5 }}">
                    powered by portfolizer.rokimania.com
                </a>
            </div>
        {% endif %}
    </section>
    <section class="right-column">
        <div class="avatar-mobile">
            {% if avatar_url %}
                <img src="{{ avatar_url }}" alt="avatar"/>
            {% else %}
                {% svg "portfolio/svg/avatar-dark.svg" %}
            {% endif %}
        </div>
        {% for segment in right_column %}
            {{ segment }}
        {% endfor %}
        <div class="powered-by-section">
            <a href="https://portfolizer.rokimania.com" style="color: {{ portfolio.right_column_text_color|color:1.5 }}">
                powered by portfolizer.rokimania.com
            </a>
        </div>
    </section>
</div>

{% if response_type == "html" %}
    {% if portfolio_edit_url %}
        <a class="js-expendable-button expendable-button expendable-button--edit"
           href="{{ portfolio_edit_url }}"
           style="background-color: {{ portfolio.edit_btn_bg_color }}">
            <span class=" text" style="color: {{ portfolio.edit_btn_svg_color }}">{% trans "Edit" %}</span>
            {% svg "portfolio/svg/edit.svg" portfolio.edit_btn_svg_color %}
        </a>
    {% endif %}
    <a class="js-expendable-button expendable-button expendable-button--pdf"
       href="{{ portfolio_pdf_url }}"
       style="background-color: {{ portfolio.pdf_btn_bg_color }}">
        <span class="text" style="color: {{ portfolio.pdf_btn_svg_color }}">{% trans "Download" %}</span>
        {% svg "portfolio/svg/pdf.svg" portfolio.pdf_btn_svg_color %}
    </a>
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% for lang_code, lang_name in LANGUAGES %}
        {% if lang_code != LANGUAGE_CODE %}
            <form method="POST" action="{% url 'set_language' %}">
                {% csrf_token %}
                <input type="hidden" name="language" value="{{ lang_code }}">
                <button class="js-expendable-button expendable-button expendable-button--language"
                        type="submit"
                        style="background-color: {{ portfolio.language_btn_bg_color }}">
                    <span class="text" style="color: {{ portfolio.language_btn_svg_color }}">
                        {{ lang_name }}
                    </span>
                    {% if lang_code == "sr" %}
                        {% svg "svg/serbia-flag.svg" portfolio.language_btn_svg_color %}
                    {% elif lang_code == "en" %}
                        {% svg "svg/usa-flag.svg" portfolio.language_btn_svg_color %}
                    {% endif %}
                </button>
            </form>
        {% endif %}
    {% endfor %}
    <a class="brand-link" href="/">
        portfolizer
    {% svg "svg/rocket.svg" %}
    </a>
{% endif %}
