{% load svg static i18n %}

<div class="page {% if response_type == "html" %}page--html{% endif %}"
     {% if response_type == "pdf" %}style="height: calc(100% * {{ portfolio.page_count }})"{% endif %}>
    <section class="left-column">
        <div class="avatar">
            {% if avatar_url %}
                <img src="{{ avatar_url }}" alt="avatar"/>
            {% else %}
                {% svg "portfolio/svg/avatar.svg" %}
            {% endif %}
        </div>
        {% for segment in left_column %}
            {{ segment }}
        {% endfor %}
    </section>
    <section class="right-column">
        <div class="avatar-mobile">
            {% if avatar_url %}
                <img src="{{ avatar_url }}" alt="avatar"/>
            {% else %}
                {% svg "portfolio/svg/avatar-dark.svg" %}
            {% endif %}
        </div>
        <div class="right-segment header" style="color: {{ portfolio.right_column_text_color }}">
            <h1 class="name">
                {{ portfolio.first_name|default:_("firstname")|upper }}
                {{ portfolio.last_name|default:_("lastname")|upper }}
            </h1>
            <p class="role">{{ portfolio.role|default:_("role")|upper }}</p>
        </div>
        {% for segment in right_column %}
            {{ segment }}
        {% endfor %}
    </section>
</div>

{% if response_type == "html" %}
    <a class="js-expendable-button expendable-button expendable-button--pdf"
       href="{{ portfolio_pdf_url }}"
       style="background-color: {{ portfolio.pdf_btn_bg_color }}">
        <span class="text" style="color: {{ portfolio.pdf_btn_svg_color }}">{% trans "Download" %}</span>
        {% svg "portfolio/svg/pdf.svg" portfolio.pdf_btn_svg_color %}
    </a>
    {% if portfolio_edit_url %}
        <a class="js-expendable-button expendable-button expendable-button--edit"
           href="{{ portfolio_edit_url }}"
           style="background-color: {{ portfolio.edit_btn_bg_color }}">
            <span class=" text" style="color: {{ portfolio.edit_btn_svg_color }}">{% trans "Edit" %}</span>
            {% svg "portfolio/svg/edit.svg" portfolio.edit_btn_svg_color %}
        </a>
    {% endif %}
{% endif %}
