{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/user.css' %}">
{% endblock %}

{% block content %}
    <h1>{% trans "Login" %}</h1>
    <form class="auth-form" method="POST">
        {% csrf_token %}
        {% include "includes/input_field.html" with field=form.username %}
        {% include "includes/input_field.html" with field=form.password %}
        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="button-row">
            <input class="go-to-button" type="submit" value="{% trans "Login" %}"/>
        </div>
    </form>
{% endblock %}
