{% load i18n static svg %}

{% get_current_language as CURRENT_LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans "Portfolizer" %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    {% block head %}
        {% include 'includes/icons.html' %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/flash_message.css' %}">
    {% endblock head %}
</head>
<body>

{% include "includes/nav.html" %}

<main>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
</main>

{% include "includes/messages.html" %}

<script src="{% static 'js/flash-messages.js' %}"></script>
<script src="{% static 'js/menu-modal.js' %}"></script>

</body>
</html>
