{% load i18n static svg %}

{% get_current_language as CURRENT_LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans "Portfolizer" %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    {% block head %}
        {% include 'includes/icons.html' %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/flash_message.css' %}">
    {% endblock head %}
</head>
<body>

{% include "includes/nav.html" %}

<main>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
</main>

<footer>
    <div class="upper-footer">
        <div class="content">
            <div class="footer-box">
                <h3 class="footer-box-title">{% trans "LEGAL" %}</h3>
                <a class="footer-box-item" href="{% url 'privacy_policy' %}" target="_blank">
                    {% trans "Privacy Policy" %}
                </a>
                <a class="footer-box-item" href="{% url 'terms_and_conditions' %}" target="_blank">
                    {% trans "Terms & Conditions" %}
                </a>
            </div>
            <div class="footer-box">
                <h3 class="footer-box-title">{% trans "CONTACT" %}</h3>
                <a class="footer-box-item" href="mailto:roknic.milos.994@gmail.com">
                    roknic.milos.994@gmail.com
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="content">
            <p class="footer-paragraph">
                © <span id="js-year"></span> Portfolizer. {% trans "All rights reserved." %}
            </p>
            <p class="footer-paragraph">
                {% trans "Powered by" %} <a href="https://rokimania.com">rokimania.com</a>
            </p>
        </div>
    </div>
</footer>

{% include "includes/messages.html" %}

<script src="{% static 'js/flash-messages.js' %}"></script>
<script src="{% static 'js/menu-modal.js' %}"></script>
<script src="{% static 'js/footer.js' %}"></script>

</body>
</html>
