{% load i18n static svg %}

{% get_current_language as CURRENT_LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans "Portfolizer" %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    {% block head %}
        {% include 'includes/icons.html' %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    {% endblock head %}
</head>
<body>

{% include "includes/nav.html" %}

<main>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
</main>

{% for message in messages %}
    <div class="flash-message {% if message.tags %}flash-message--{{ message.tags }}{% endif %} js-flash-message">
        <p class="flash-message__text">
            {{ message }}
        </p>
        <div class="flash-message__close-button js-flash-message-close-button">
            {% svg "svg/x.svg" %}
        </div>
    </div>
{% endfor %}

<script src="{% static 'js/flash-messages.js' %}"></script>
<script src="{% static 'js/menu-modal.js' %}"></script>

</body>
</html>
