{% extends "base.html" %}

{% load i18n static %}

{% block title %}{% trans "Portfolizer" %}{% endblock title %}

{% block head %}
    <meta name="description"
          content="Portfolizer is a web application built with Django that enables users to create, customize, and
          manage their portfolio pages. Users can easily generate and download their portfolios as CVs in PDF format,
          providing a convenient way to showcase their professional experience and skills.">
    {{ block.super }}
{% endblock head %}

{% block content %}
    <h1>{% trans "Portfolizer" %}</h1>
    {% if request.user.is_anonymous %}
        <p class="paragraph">
            {% blocktranslate with register_url=user_menu.register.url login_url=user_menu.login.url %}
                Portfolizer allows you to easily showcase your professional experience and skills. You can create,
                customize, and manage your portfolio, and even generate and download it as a PDF CV, making it super
                convenient to show off your work. New here? Go ahead and <a href="{{ register_url }}">register</a> to
                create your portfolio. Already a member? <a href="{{ login_url }}">Log in</a> and... well, you know the
                drill!
            {% endblocktranslate %}
        </p>
    {% else %}
        {% if portfolio_menu.view %}
            <a class="go-to-button" href="{{ portfolio_menu.view.url }}">{{ portfolio_menu.view.label }}</a>
        {% else %}
            <a class="go-to-button" href="{{ portfolio_menu.create.url }}">{{ portfolio_menu.create.label }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
